/* To more easily apply effects to our webpage , we will create a style tag inside head and target the particular section of webpage to change its effects 
 Its like prdefining the styling element for all target parts */

           /******* In line tags are more prior to internal and it is more prior to external tags *******/

    body {
        background-color: rgb(7, 35, 64 , 0.75);
    }
    hr {
        border-style: dotted none none /*For top , left-right & bottom resp*/; /* As inbuilt browser border style is inset(something like shadow) */
        /* OR border-top-style : dotted*/

        border-width : 5px;
        border-color: white;
        height: 0px; /* So after doing border-style="none" it's significant border height seems to be very insignificant  */
        width: 55%; /* Percentage intialization is most useful in RESPONSES */
        background-color: rgb(7, 35, 64 , 0); /* Aparting colour to the horizontal line */
    }
    h1 {
        text-align: center;
        text-decoration-line: underline;
        text-decoration-style: single;          /* STYLES SHOULD BE PASSED IN ALPHABETICAL ORDER */
        text-decoration-color: black;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        color: white;
    }
    h3 {
        color: white;
        text-align: center;
        text-decoration-line: underline;
        text-decoration-color: black;
    }
    p {
        color: palegoldenrod;
    }
    ol {
        color: palegoldenrod;
    }
    ul {
        color: palegoldenrod;
    }
    table {
        border-style: solid;
        color: palegoldenrod;
    }
    a {
        color: greenyellow;
    }
    form {         /* TAGS SELECTOR */
        color: palegoldenrod;
    }
    #heading {     /* ID SELECTORS */
        color: aqua;
        font-weight: bolder;
    }
    .talent {       /* CLASS SELECTORS */      /* MOST USABLE WORLDWIDE(MANY ADVANTAGES OVER ID SELECTORS */
        color: rgb(224, 85, 152);
    }
    .circular {
        border-radius: 100%;
    }
    h3:hover {
        background-color: burlywood;
    }
    td.talent:hover {
        background-color: azure;
    }
    h1:hover {
        background-color: white;
    }
    
    /* Id selectors is most prefereable than class and tag i.e, ID and Class Selectors will overwrite Tag Selectors */


    

